// Portfolio page Header
.header-portfolio {
    padding-top: 60px;
    padding-bottom: 25px;
    max-width: 100%;
    height: auto;
    background-image: none;
    overflow: hidden;

    /* Tablet L*/
    @media (max-width: 1199px) {
        background-color: #fff;
        padding-bottom: 27px;
    }

    /* Tablet */
    @media (max-width: 991px) {
        padding-top: 20px;
        padding-bottom: 27px;
    }

    .header-nav-portfolio {
        height: 62px;

        /* Tablet */
        @media (max-width: 991px) {
            margin-bottom: 0;
            height: 62px;
        }
        // max-width: 1600px;
        // margin-left: auto;
        // margin-right: auto;

        // /* Tablet */
        // @media (max-width: 991px) {
        //     // max-width: 991px;
        //     margin-left: 0;
        // }
    }
}

.container.container-pt {
    padding-left: 15px;
    padding-right: 15px;
}

.header .header-nav__container.hn-container-portfolio {
    /* Tablet */
    @media (max-width: 991px) {
        margin-bottom: 0;
    }
}
// Portfolio page Section Portfolio
.portfolio-page {
    overflow: hidden;
    padding-top: 54px;
    padding-bottom: 93px;

    /* Tablet */
    @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 47px;
        padding-bottom: 60px;
    }
}

.portfolio__title.portfolio-page-title {
    text-align: center;

    /* Tablet */
    @media (max-width: 991px) {
        text-align: left;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-left: 0;
    }

    .title-2 {
        /* Mobile */
        @media (max-width: 767px) {
            font-size: 42px;
        }
    }
}

.portfolio-block__menu {
    margin-left: 10px;
}

.project-card--pg {
    margin-bottom: 62px;

    /* Tablet */
    @media (max-width: 991px) {
        margin-bottom: 40px;
    }
}
// Portfolio page Section Connection

.connection {
    background-color: #f4f8f9;
    overflow: hidden;

    /* Tablet */
    @media (max-width: 991px) {
        padding-top: 50px;
        background-color: #fff;
    }
}

.connection-content.connection-content--portfolio-page {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-content {
    .connection-content__title {
        margin-bottom: 10px;

        /* Tablet */
        @media (max-width: 991px) {
            margin-bottom: 0;
        }

        /* Mobile */
        @media (max-width: 767px) {
            margin-bottom: 12px;
        }

        .title-3 {
            /* Tablet */
            @media (max-width: 1199px) {
                font-size: 36px;
            }

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 26px;
            }
        }
    }

    p {
        margin-bottom: 40px;
        font-size: 38px;

        /* Tablet */
        @media (max-width: 1199px) {
            margin-bottom: 33px;
            font-size: 31px;
        }

        /* Mobile */
        @media (max-width: 767px) { 
            margin-bottom: 29px; 
            font-size: 22px;
            text-align: center;
        }
        
        a {
            font-size: 38px;

            /* Tablet */
            @media (max-width: 1199px) {
                font-size: 31px;
            }

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 22px;
            }

            .text-link {
                width: fit-content;
            }
        }

        a:hover {
            color: #78b5ed;

            .text-link {
            border-bottom: 1px solid #78b5ed;
            }
        }
    }
}

a.active.bottom-line {
    color: #fbdc4d;
    font-size: 22px;
}